
.employee_card{
    height: 50vh;
    width: 20vw;
    background-color: rgb(191, 210, 210);
    margin: 5vh;    
}
.employee_card .card_img{
    height: 30vh;
    width: 20vw;
    object-fit:cover;
}
.navlink{
    text-decoration: none;
    border-radius: 8px;
    :hover{
        text-decoration: underline;
    }
}


.employee_card h3{
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}
.employee_card h4{
    font-size: x-large;
    font-weight: bolder;
    margin-top: 3vh;
    color: rgb(15, 13, 13);
}

@media (max-width: 1080px) {
    .employee_card h3 {
        font-size: large;
        font-weight:300;
    }
    .employee_card h4 {
        font-size: large;
        font-weight:300;
    }
}