.login{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login video{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.login h3{
    color: azure;
    font-size: xx-large;
    font-weight: bolder;
}

.login .content{
    position: absolute;
    top: 20vh;
    height: 70vh;
    width: 40vw;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7vh;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(2px); 
}
.login .content .username,.password{
    display: flex;
    flex-direction: column;
}
.login .content .username .username-lable,.password-lable{
    margin-bottom: 1vh;
    background: none;
    font-weight: bolder;
    font-size: larger;
    color: rgb(15, 15, 15);
}
.login .content .username #username,#password{
    height: 5vh;
    width: 20vw;
    padding-left: 1vw;
    font-weight: bold;
    font-size: medium;
    background: none;
    color: rgb(13, 14, 14);

}
.login .content p{
    color: brown;
    font-weight: bolder;
    font-size: larger;
}

.login .content button{
    height: 4vh;
    width: 10vw;
    font-weight: bolder;
    font-size: medium;
    background: none;
    &:hover{
        border: 3px solid black;
        font-size: large;
    }
}
