.one_employee_window{
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    padding-top: 20vh;
}

.one_employee{
    width: 30vw;
    height: 90vh;
    background-color: rgb(181, 194, 194);
    margin: auto;
    /* margin-top: 10vh; */
    border-radius: 4vw;
}

.one_employee img{
    height: 35vh;
    width: 30vw;
}
.one_employee h3{
    margin-left: 1vw;
    font-size: xx-large;
    font-weight: bolder;
}
.one_employee ul li{
    margin-left: 3vw;
    margin-top: 1vh;
    text-decoration: none;
}

.one_employee button{
    margin-top: 5vh;
    width: 8vw;
    height: 6vh;
    /* margin-left: 6vw; */
    border: 3px solid black;
    border-radius: 2vw;
    /* font-size: larger; */
    font-weight: bolder;
    &:hover{
        background-color: green;
    }

}