
.one-car {
    width: 30vw;
    height: 80vh; 
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(2px); 
    border-radius: 15px;
    padding: 1vw;
    /* background-color: aquamarine; */
}

.one-car .card_img{
    width: 25vw;
    height: 20vh;
}

.one-car .list{
    margin-left: 5px;
    margin-top: 5px;
}
.one-car .list li{
    margin-bottom: 3px;
    color: aliceblue;
    list-style-type: none;
}


.one-car .btns{
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
  
}

.one-car button{
    background: white;
    color: black;
    font-size: 1vw;
    font-weight: bold;
    border: none;
    padding: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
    outline: none; 
    
}