.signup{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup video{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.signup h3{
    margin-top: 2vh;
    color: azure;
    font-size: x-large;
    font-weight: bolder;
}

.signup .content{
    position: absolute;
    top: 20vh;
    height: 70vh;
    width: 40vw;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4vh;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(2px); 
}
.signup .content .username,.email,.password{
    display: flex;
    flex-direction: column;
}
.signup .content .username .username-label,.email-label,.password-label{
    margin-bottom: 1vh;
    background: none;
    font-weight: bold;
    font-size: large;
    color: azure;
}
.signup .content .username #username[type=text],#email[type=email],#password[type=password]{
    height: 5vh;
    width: 20vw;
    padding-left: 1vw;
    font-weight:500;
    font-size: medium;
    background: none;
    color: azure;

}
.signup .content p{
    color: brown;
    font-weight: bolder;
    font-size: larger;
}

.signup .content button{
    height: 4vh;
    width: 10vw;
    font-weight: bolder;
    font-size: medium;
    background: none;
    &:hover{
        border: 3px solid black;
        font-size: large;
    }
}
