.card{
    height: 75vh;
    width: 30vw;
    background-color: rgb(191, 210, 210);
    margin: 5vh;
    border-radius: 8px;
    text-decoration: none;
    /* border : 2px solid black; */
    
}
.card .card_img{
    height: 25vh;
    width: 30vw;
}

.card .car_name{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 2vw;
}
.card ul li{
    margin-left: 1vw;
    margin-top: 1vw;
    list-style-type: none;
    border-radius: 10px;
}